<h1>Editing Cocktail</h1>

<%= render 'form', cocktail: @cocktail %>

<%= link_to 'Show', @cocktail %> |
<%= link_to "Add a Recipe" , new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
